<p>
  The account module was lazy-loaded and the Login page is working.
</p>
<div class="nav-item" (click)="showAddCompanyModel(addCompanyModal)">Add A Company</div>
<ng-select [items]="carriers" placeholder="Select Carrier" name="selectedCarrier" [searchable]="false" [clearable]="false"
           [(ngModel)]="selectedCarrier" [markFirst]="false" bindValue="value" bindLabel="label" labelForId="selectedCarrier">
</ng-select>

<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
<p>Model: {{ model | json }}</p>

<ng-template #addCompanyModal>
  <div class="loj-modal-backdrop" (click)="closeAddCompanyModal()"></div>
  <div class="add-company-modal loj-modal flex-center vertical above-footer">
      <button type="submit" class="loj-btn">
        <span>Add Company</span>
      </button>
      <div class="loj-btn-tertiary" (click)="closeAddCompanyModal()">
        <span>Close</span>
      </div>
  </div>
</ng-template>
<div class="chart-awesome-mode-modal loj-modal flex-center" [@toggleModel]="modalState"></div>
